// Variables
@import 'variables';

.portfolio-section {
    height: 600px;

    #content-wrapper {
        position: absolute;
        z-index: 1 !important;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        right: 0;
        padding: 30px;
        text-align: left;
        width: 50%;
        min-height: 50%;
    }

    .well {
        background: #ffffff;
        opacity: 0.8;
        padding: 30px;

        h1 {
            font-size: 50px;
        }
    }

    .portfolio-text {
        font-size: 22px;
        font-family: none;
        font-style: italic;
    }

    .portfolio-bg {
        background: #f7f7f7;
    }

    .portfolio-title1 {
        margin-top: 1%;
        background: linear-gradient(to left, white, black, white);
        background-size: 100% 2px;
        background-position: bottom 0 left 0, bottom 5px left 0;
        background-repeat: no-repeat;
        padding-bottom: 8px;
        font-size: 35px;
    }

    .portfolio-img {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
    }

    .portfilio-feature-list {
        li {
            line-height: 50px;
        }
    }

    @media (max-width: 767px) {
        #content-wrapper {
            position: absolute;
            padding: 0;
            text-align: left;
            left: 0;
            right: 0;
        }

        .well {
            h1 {
                font-size: 30px;
            }
        }
    }
}

.job-item {
    span {
        &.text-muted {
            padding-left: 10px;
        }

        &.d-block {
            margin-left: 32px;
            font-weight: 600;
        }
    }
}
