<template>
    <div>
        <section class="marketing-section animation-section section-gap aquablue-bg" v-bind:style="{ 'background-image': 'url(/assets/img/banner-w.webp)' }">
            <div class="container">
                <div class="row flex align-items-center justify-content-between">
                    <div class="col-md-12 animation-text">
                        <vue-typer
                            :text=textOptions
                            :repeat='Infinity'
                            :shuffle='true'
                            initial-action='typing'
                            :pre-type-delay='100'
                            :type-delay='70'
                            :pre-erase-delay='2000'
                            :erase-delay='250'
                            erase-style='select-all'
                            :erase-on-complete='false'
                            caret-animation='expand'
                        ></vue-typer>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>


<script>
    import { VueTyper } from 'vue-typer';
    export default {
        components: {
            VueTyper
        },

        data: function () {
            return {
                textOptions: []
            }
        },
        mounted() {
            this.getInformativeText();
        },

        methods: {

            getInformativeText(){
                var _this = this;
                axios.get('/get-informative-text')
                    .then(function (resp) {
                        _this.textOptions = resp.data;
                        //_this.textOptions = resp.data
                    })
            }
        }

    }
</script>
