<template>
    <div>
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Mediusware</h4>

                            <p>Serving Enterprises and SMEs with Technological Partnership Since 2015. </p>
                            <p>{{ setting.address }} </p>

                            <ul class="social-icons">
                                <li>
                                    <a v-if="setting.facebook_link" v-bind:href="setting.facebook_link" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a v-if="setting.twitter_link" v-bind:href="setting.twitter_link" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a v-if="setting.githtb_link" v-bind:href="setting.githtb_link" target="_blank">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a v-if="setting.stackoverflow_link" v-bind:href="setting.stackoverflow_link" target="_blank">
                                        <i class="fab fa-stack-overflow"></i>
                                    </a>
                                </li>
                                <li>
                                    <a v-if="setting.linkedin_link" v-bind:href="setting.linkedin_link" target="_blank">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Know Us</h4>
                            <ul class="menu-list">
                                <li>
                                    <router-link  :to = "'/'">Home</router-link>
                                </li>
                                <li>
                                    <router-link  :to = "'/about'">About Us</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/contact'">Contact With Us</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/services'">Our Services</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "''">Privacy Policy</router-link>
                                </li>
                            </ul>

                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Newsletter</h4>
                            <p>You can trust us. we only send promo offers, not a single spam.</p>
                            <div class="d-flex flex-row newsletter-form" id="mc_embed_signup">
                                <form class="navbar-form" id="newsletterForm" v-on:submit.prevent="saveNewsletterForm()" method="post" style="width: 100%">
                                    <div class="d-flex form-wrap">
                                        <input class="form-control" name="email" style="width: 100%" v-model="newsletter.email" autocomplete="email" placeholder="Your email address" required="" type="email">
                                        <button id="nlSubmit" class="submit-btn">
                                            <span class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                    <p class="text-danger" v-if="errors.email">{{errors.email[0]}}</p>
                                    <div class="info mt-20"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Get In Touch</h4>
                            <ul class="menu-list">
                                <li class="text-white">Mob: {{ setting.phone }}</li>
                                <li class="text-white"> {{ setting.email }}</li>

                            </ul>

                        </div>
                    </div>
                </div>
                <div class="footer-bottom row justify-content-center mt-70">
                    <p class="footer-text m-0 col-lg-6 col-md-12">Copyright © 2019 All rights reserved to
                        <a href="https://mediusware.com/">Mediusware</a>
                    </p>
                </div>
            </div>

        </footer>


        <div id="fbmsg">
            <div class="fbmsg-badge">
                <div class="messanger" >
                    <img style="cursor:pointer; width: 80px" :src="'/assets/img/messanger.png'" alt="messanger">
                </div>
            </div>
            <div class="wp-sheet" style="display:none">
                <div class="wp-sheet-head">
                    <div class="wp-sheet-head-inner">Mediusware</div>
                    <a href="#" class="wp-sheet-head-close">×</a>
                </div>
                <div class="wp-sheet-body"></div>
                <div class="wp-sheet-content">
                    <div class="wp-sheet-content-inner">
                        <div class="wp-sheet-content-part"></div>
                    </div>
                </div>
                <div class="wp-sheet-footer"></div>
            </div>
        </div>

    </div>
</template>

<script>
    import Swal from 'sweetalert2'
    export default {

        data: function () {
            return {
                errors: [],
                setting: [],
                newsletter: {
                    email: '',
                },
            }
        },

        mounted() {
             //Fb Messenger integration
            this.fbMessenger();
            this.getSetting();
        },
        updated() {
            // $(document).ready(function() {
            //     $('html, body').animate({ scrollTop: 0 }, 'fast');
            // })
        },
        methods: {
            fbMessenger(){
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            },

            getSetting(){
                var _this = this;
                axios.get('/get-setting')
                    .then(function (resp) {
                        // console.log(resp.data)
                        _this.setting = resp.data
                    })
            },

            saveNewsletterForm() {
                var _this = this;
                var newNewsletter = _this.newsletter;
                var button_loader='<i class="fas fa-spinner fa-spin"></i>';
                $("#nlSubmit").html(button_loader);
                axios.post('/newsletter-store', newNewsletter)
                    .then(function (resp) {
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                            $("#nlSubmit").html('<span class="lnr lnr-arrow-right"></span>');
                        }else {
                            $("#newsletterForm")[0].reset();
                            $("#nlSubmit").html('<span class="lnr lnr-arrow-right"></span>');
                            Swal.fire({
                                // position: 'center',
                                type: 'success',
                                title: resp.data.success,
                                showConfirmButton: false,
                                timer: 3000
                            })

                        }
                    })
                    .catch(function (resp) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    });
            }
        }
    }
</script>
