<template>

    <div class="vue-main">
        <button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>
        <header id="header">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div id="logo">

                        <router-link to = "/">
                            <img class="logo-1" :src="'/assets/img/logo-small.png'" alt="Mediusware" style="width: 140px" title="" />
                        </router-link>

                        <router-link to = "/">
                            <img class="logo-2" :src="'/assets/img/logo-small.png'"  alt="Mediusware" style="width: 140px" title="" />
                        </router-link>

                    </div>
                    <div class="nav-wrap d-flex flex-row align-items-center">
                        <nav id="nav-menu-container">
                            <ul class="nav-menu">
                                <li >
                                    <router-link  :to = "'/'">Home</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/about'">About</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/our-partner'">Our Partners</router-link>
                                </li>

                                <li class="menu-has-children">
                                    <a href="#">Portfolios</a>
                                    <ul style="display: none">
                                        <li>
                                            <router-link  :to = "'/portfolios-showcase'">Showcase</router-link>
                                        </li>
                                        <li>
                                            <router-link  :to = "'/portfolios'">Portfolio</router-link>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <router-link  :to = "'/features'">Features</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/services'">Services</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/careers'">Careers</router-link>
                                </li>

                                <li>
                                    <router-link  :to = "'/contact'">Contact</router-link>
                                </li>


                            </ul>
                        </nav>

                    </div>
                    <!-- #nav-menu-container -->
                </div>
            </div>
        </header>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.headerScript();
            this.menuSuper();
        },

        methods:{
            menuSuper() {
                $(document).ready(function() {
                    $('.nav-menu').superfish({
                        animation: {
                            opacity: 'show'
                        },
                        speed: 400
                    });
                });
            },
          headerScript(){
              $(window).scroll(function () {
                  if ($(this).scrollTop() > 30) {
                      $('#header').addClass('header-scrolled');
                  } else {
                      $('#header').removeClass('header-scrolled');
                  }
              });

              $(window).scroll(function () {
                  if ($(this).scrollTop() > 30) {
                      $('#header2').addClass('header-scrolled');
                  } else {
                      $('#header2').removeClass('header-scrolled');
                  }
              });

              $(window).scroll(function () {
                  if ($(this).scrollTop() > 30) {
                      $('#header7').addClass('header-scrolled');
                  } else {
                      $('#header7').removeClass('header-scrolled');
                  }
              });

              /* ---------------------------------------------
        Mobile Navigation
     --------------------------------------------- */

              if ($('#nav-menu-container').length) {
                  var $mobile_nav = $('#nav-menu-container').clone().prop({
                      id: 'mobile-nav'
                  });
                  $mobile_nav.find('> ul').attr({
                      'class': '',
                      'id': ''
                  });
                  $('body').append($mobile_nav);
                  $('body').prepend('<button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>');
                  $('body').append('<div id="mobile-body-overly"></div>');
                  $('#mobile-nav').find('.menu-has-children').prepend('<i class="lnr lnr-chevron-down"></i>');

                  $(document).on('click', '.menu-has-children i', function (e) {
                      $(this).next().toggleClass('menu-item-active');
                      $(this).nextAll('ul').eq(0).slideToggle();
                      $(this).toggleClass("lnr-chevron-up lnr-chevron-down");
                  });

                  $(document).on('click', '#mobile-nav-toggle', function (e) {
                      $('body').toggleClass('mobile-nav-active');
                      $('#mobile-nav-toggle i').toggleClass('lnr-cross lnr-menu');
                      $('#mobile-body-overly').toggle();
                  });

                  $(document).on('click', function (e) {
                      var container = $("#mobile-nav, #mobile-nav-toggle");
                      if (!container.is(e.target) && container.has(e.target).length === 0) {
                          if ($('body').hasClass('mobile-nav-active')) {
                              $('body').removeClass('mobile-nav-active');
                              $('#mobile-nav-toggle i').toggleClass('lnr-cross lnr-menu');
                              $('#mobile-body-overly').fadeOut();
                          }
                      }
                  });

              } else if ($("#mobile-nav, #mobile-nav-toggle").length) {
                  $("#mobile-nav, #mobile-nav-toggle").hide();
              }


              $('.nav-menu a, #mobile-nav a, .scrollto').on('click', function () {
                  if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
                      var target = $(this.hash);
                      if (target.length) {
                          var top_space = 0;

                          if ($('#header').length) {
                              top_space = $('#header').outerHeight();

                              if (!$('#header').hasClass('header-fixed')) {
                                  top_space = top_space;
                              }
                          }

                          $('html, body').animate({
                              scrollTop: target.offset().top - top_space
                          }, 1500, 'easeInOutExpo');

                          if ($(this).parents('.nav-menu').length) {
                              $('.nav-menu .menu-active').removeClass('menu-active');
                              $(this).closest('li').addClass('menu-active');
                          }

                          if ($('body').hasClass('mobile-nav-active')) {
                              $('body').removeClass('mobile-nav-active');
                              $('#mobile-nav-toggle i').toggleClass('lnr-times lnr-bars');
                              $('#mobile-body-overly').fadeOut();
                          }
                          return false;
                      }
                  }
              });

              $(document).ready(function () {
                  if ($('.menu-has-children ul>li a').hasClass('menu-active')) {
                      $('.menu-active').closest("ul").parentsUntil("a").addClass('parent-active');
                  }
              });




          }
        }
    }
</script>
