<template>
    <div>
        <!-- Start hero-section -->
        <div class="version8">
            <section class="hero-section-bg relative">
                <div id="app-owl" class="owl-carousel owl-theme">
                    <div class="items" v-for="slider in sliders">
                        <img class="owl-img" :src="'/media/slider/'+ slider.image" :alt="slider.title">
                        <div class="container">
                            <div class="content">
                                <div class="row align-items-center relative">
                                    <div class="col-lg-12  slider-text">
                                        <h1 style="color: #fff">{{ slider.title }}</h1>
                                        <p class=" mw-510" style="color: #fff">{{ slider.subtitle }}</p>
                                    </div>
                                    <!-- <div class="col-lg-6">-->
                                    <!-- <img class="hero-img9" :src="'/assets/img/iPhoneX.png'" alt="Slider">-->
                                    <!-- </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- End hero-section -->

    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                sliders: [],
            }
        },

        mounted() {
            let _this = this;
            this.getSliders();

        },
        methods:{
            getSliders(){
                var _this = this;
                axios.get('/get-sliders')
                    .then(function (resp) {
                        // console.log(resp.data)
                        _this.sliders = resp.data;
                        setTimeout(function(){ _this.pageScript(); }, 300);
                    })
            },

            pageScript(){
                $(document).ready(function() {
                    $('#app-owl').owlCarousel({
                        stagePadding: 0,
                        items: 1,
                        loop: true,
                        margin: 0,
                        singleItem: true,
                        dots: false,
                        autoplay: false,
                        slideSpeed: 300,
                        paginationSpeed: 500,
                        smartSpeed: 800,
                        animateOut: 'fadeOut'
                    });
                });
            }
        }

    }
</script>
<style scoped>
  .items img{
      width: 100%;
  }

  @media (max-width: 767px){
      .content {
         visibility: hidden;
          pointer-events: none;
      }
      .items img{
          width: 100%!important;
          height: 40vh !important;
          object-fit: contain;
      }
  }

</style>
