<template>
    <div>

        <section class="contact-form-section section-gap">
            <div class="container" style="z-index: 99999">
                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Get in touch with our team">
                        </div>
                        <h1>Get in touch with our team.</h1><br>
                        <p>If you are looking to get in touch with the software team, then we are here for you!</p>
                        <hr>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-6 mb-30">
                        <img class="img-fluid" :src="'/assets/img/social-img.png'" usemap="#image-map">

                        <map class="image-map" name="image-map">
                            <area target="_blank" alt="Youtube" title="Youtube" v-bind:href="setting.youtube_link" coords="32,298,29" shape="circle">
                            <area target="_blank" alt="Facebook" title="Facebook" v-bind:href="setting.facebook_link" coords="334,329,31" shape="circle">
                            <area target="_blank" alt="twitter" title="twitter" v-bind:href="setting.twitter_link" coords="426,253,31" shape="circle">
                            <area target="_blank" alt="pinterest" title="pinterest" v-bind:href="setting.pinterest_link" coords="353,151,30" shape="circle">
                            <area target="_blank" alt="linkedin" title="linkedin" v-bind:href="setting.linkedin_link" coords="104,225,31" shape="circle">
                            <area target="_blank" alt="instagram" title="instagram" v-bind:href="setting.instragram_link" coords="89,117,30" shape="circle">
                            <area target="_blank" alt="github" title="github" v-bind:href="setting.githtb_link" coords="236,32,32" shape="circle">
                        </map>

                    </div>

                    <div class="col-lg-6">
                        <div class="text-center">
                            <h3>Do you have a question?</h3>
                            <p class="border-bottom">If you have a question? please fill the contact form!</p>
                            <div class="card">
                                <div class="card-body">
                                    <form class="form-area contact-form text-right" id="contactForm" v-on:submit.prevent="saveContactForm()" method="post">
                                        <input name="name" v-model="contact.name" autocomplete="name" placeholder="Enter your name" class="common-input mb-20 form-control" required="" type="text">
                                        <input name="email" v-model="contact.email" autocomplete="email" placeholder="Enter email address" class="common-input mb-20 form-control" required="" type="email">
                                        <input name="subject" v-model="contact.subject" autocomplete="subject" placeholder="Enter subject" class="common-input mb-20 form-control" required="" type="text">
                                        <textarea class="common-textarea form-control" v-model="contact.message" cols="30" rows="7" name="message" autocomplete="message" placeholder="Enter Messege" required=""></textarea>
                                        <div class="d-flex flex-column">
                                            <button id="submit" class="genric-btn2 d-block mt-30 mr-0 ml-auto"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Send Message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Start map-section -->
        <!-- End map-section -->

        <!-- Start contact-form-section -->
        <div class="row justify-content-between align-items-start">
            <div class="col-lg-12 col-md-12 contact-left">
                <div class="map-wrap relative">
                    <iframe  v-bind:src="setting.map_url" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <span id="add-show" class="show-btn lnr lnr-chevron-right"></span>
                <div class="contact-info">
                    <span id="add-hide" class="cross-btn lnr lnr-cross"></span>
                    <div class="single-line d-flex flex-row" v-if="setting.address">
                        <div class="icon">
                            <span class="lnr lnr-home"></span>
                        </div>

                        <div class="desc">
                            <h4><p>Mon to Sat 9am to 6 pm</p></h4>
                            <p>{{ setting.address }}</p>
                        </div>
                    </div>
                    <div class="single-line d-flex flex-row" v-if="setting.phone || setting.phone_2 || setting.phone_3">
                        <div class="icon">
                            <span class="lnr lnr-phone-handset"></span>
                        </div>
                        <div class="desc">
                            <h5>
                                <a v-if="setting.phone" :href="'tel:'+setting.phone"> {{ setting.phone }}</a>
                                <a v-if="setting.phone_2" :href="'tel:'+setting.phone"> {{ setting.phone_2 }}</a>
                                <a v-if="setting.phone_3" :href="'tel:'+setting.phone"> {{ setting.phone_3 }}</a>
                            </h5>
                        </div>
                    </div>
                    <div class="single-line d-flex flex-row" v-if="setting.email">
                        <div class="icon">
                            <span class="lnr lnr-envelope"></span>
                        </div>
                        <div class="desc">
                            <p><strong>{{ setting.email }}</strong></p>
                        </div>
                    </div>

                    <div class="single-line d-flex flex-row" v-if="setting.skype">
                        <div class="icon">
                            <span class="lnr fab fa-skype"></span>
                        </div>
                        <div class="desc">
                            <p><strong>{{ setting.skype }}</strong></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</template>

<script>
    import Swal from 'sweetalert2'
    export default {
        title: 'Contact',
        data: function () {
            return {
                setting: [],
                contact: {
                    name: '',
                    email: '',
                    subject: '',
                    message: '',
                },
                success: '',
            }
        },

        mounted() {
            this.getSetting();
            this.pageScript();
        },

        methods: {
            getSetting(){
                var _this = this;
                axios.get('/get-setting')
                    .then(function (resp) {
                        // console.log(resp.data)
                        _this.setting = resp.data
                    })
            },

            saveContactForm() {
                var _this = this;
                var newContact = _this.contact;
                var button_loader='<i class="fas fa-spinner fa-spin"></i> Sending Message...';
                $("#submit").html(button_loader);
                axios.post('/contact-store', newContact)
                    .then(function (resp) {
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                        }else {
                            $("#contactForm")[0].reset();
                            $("#submit").html('Send message');
                            Swal.fire({
                                // position: 'center',
                                type: 'success',
                                title: resp.data.success,
                                showConfirmButton: false,
                                timer: 3000
                            })

                        }
                    })
                    .catch(function (resp) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    });
            },
            pageScript(){
                $(document).on('click', '#add-hide', function (e) {
                    $(".contact-info").css("display", "none");
                    $(".show-btn").css("display", "block");
                });

                $(document).on('click', '#add-show', function (e) {
                    $(".contact-info").css("display", "block");
                    $(".show-btn").css("display", "none");
                });
            },
        }
    }
</script>
