<template>
    <div>
        <section class="marketing-section section-gap aquablue-bg">
            <div class="container">
                <div class="row align-items-center h-100 bg-light">
                    <div class="col-lg-5">
                        <div class="pr-3">
                            <h3 class="mb-30 home-title">
                                We offer a relentless performance for your product
                            </h3>

                            <h3 class="mb-30 home-title">
                                “Efficient work” term is used to define Mediusware
                            </h3>

                            <h3 class="mb-30 home-title">
                                Our talented teams put their 100% effort for your Idea to come true
                            </h3>

                            <router-link to = "/portfolios-showcase" class="genric-btn3">Browse Showcase</router-link>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="active-dash-carusel">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b5.webp'" alt="Slider 1" style="width: 100%;">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b6.webp'" alt="Slider 2" style="width: 100%;">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b0.webp'" alt="Slider 3" style="width: 100%;">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b1.webp'" alt="Slider 4" style="width: 100%;">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b4.webp'" alt="Slider 5" style="width: 100%">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b3.webp'" alt="Slider 6" style="width: 100%;">
                            <img loading="lazy" class="img-fluid item" :src="'/assets/img/b2.webp'" alt="Slider 7" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Start feature section -->
        <section class="stat-section section-gap">
            <div class="container">
                <div class="row feature-left-wrapr">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature aquablue-bg text-center">
                            <div class="icon">
                            <span>
                                <img width="39" height="40" :src="'/assets/img/i1.png'"
                                     class="attachment-image_icon_40x40 size-image_icon_40x40" alt="Collaboration"> </span>
                            </div>
                            <div class="desc">
                                <h4>Collaboration</h4>
                                <p class="mb-0 text-justify">
                                    Our talented team work as collaborate with client and every single personnel involved with a single project. Get Clients requirements, teams’ thoughts, developers’ efforts, and many more new ideas together. Each and every unique contribution collaboratively make your idea/Brand presentable and put it in a market level place
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature aquablue-bg text-center">
                            <div class="icon">
                            <span>
                                <img width="40" height="40" :src="'/assets/img/i3.png'"
                                     class="attachment-image_icon_40x40 size-image_icon_40x40" alt="Full of features"> </span>
                            </div>
                            <div class="desc">
                                <h4>Full of features</h4>
                                <p class="mb-0 text-justify">
                                    Mediusware work with best trending features of the time. Integrate custom features like E-commerce, woo-commerce, Payment gateways, APIs integration, and Sass features with the clients customize requirement. Or turn any new ideas into new feature and integrate it with software as its needed. Our teams are fully up to date with the features as you like

                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature aquablue-bg text-center">
                            <div class="icon">
                            <span>
                                <img width="40" height="36" :src="'/assets/img/i4.png'"
                                     class="attachment-image_icon_40x40 size-image_icon_40x40" alt="Global Framework"> </span>
                            </div>
                            <div class="desc">
                                <h4>Global Framework</h4>
                                <p class="mb-0 text-justify">
                                    Mediusware evolves with technologies with the global context. Emerge from procedural convention quickly to cope up with the market. As its global market level client from various country, we full fill clients work demands till we get 100% satisfactory acknowledged by them. Since we are committed to work sincerely and hard. And this commitment binds Mediusware to the global frameworks
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End feature Area -->

        <!-- Start brands section -->
        <section class="brands-section background-color1 pb-60 pt-70">
            <div class="container">
                <div class="row justify-content-center brand-wrap" style="margin-top: -60px;">
                    <div class="col-md-2 col-3 mt-50 text-center" v-for="technology in technologies">
                        <a href="#">
                            <img class="img-fluid" :src="'/media/technology/'+technology.image" :alt="technology.title" width="100">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End brands section -->

        <!-- Start stat-section -->
        <section class="stat-section section-gap">
            <div class="container">
                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="We glow with Our Service">
                        </div>
                        <h1>We glow with Our Service</h1><br>
                        <p>
                            We create a dynamic business impact with our innovative and intuitive solutions for all your digital essentials.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 text-centerpr-3 pr-md-5">
                        <img class="img-fluid img-service" :src="'/assets/img/service2.png'" alt="We glow with Our Service sidebar">
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6" v-for="(service, index) in services" v-if="index <= 3">
                                <div class="single-stat">
                                    <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}">
                                        <div class="icon">
                                            <i v-bind:class="service.icon"></i>
                                        </div>
                                    </router-link>
                                    <div class="desc">
                                        <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}">
                                            <h4>{{ service.title }}</h4>
                                        </router-link>
                                        <p class="text-justify text-limit3">
                                            {{ service.short_description }}
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End stat-section -->

        <!-- Start brands section -->
        <section class="brands-section pb-60 pt-70">
            <div class="container">
                <div class="row justify-content-center brand-wrap" style="margin-top: -60px">

                    <div class="col-md-2 col-3 mt-50 text-center" v-for="client in clients">
                        <a href="#">
                            <img class="img-fluid" :src="'/media/client/'+client.image" :alt="client.title">
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <!-- End brands section -->



        <!-- Start client-review section -->
        <section class="client-review-section section-gap">
            <div class="container">
                <div class="active-review-carusel">
                    <div class="single-review" v-for="testimonial in testimonials">
                        <div class="quote-wrap">
                            <p class="text-limit3">“{{ testimonial.comments }}”</p>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <div class="userinfo-wrap aquablue-bg d-flex flex-row align-items-center relative">
                            <div class="overlay overlay-bg"></div>
                            <div class="thumb relative">
                                <img :src="'/media/testimonial/'+ testimonial.image" v-bind:alt="testimonial.client_name" style="width: 80px!important;">
                            </div>
                            <div class="details relative">
                                <h4>{{ testimonial.client_name }}</h4>
                                <p>{{ testimonial.company_name }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End client-review section -->



        <animation></animation>

        <hire-us></hire-us>

        <!-- Start contact section -->
        <section class="contact-section section-gap">
            <div class="container">
                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Whenever You Need, Just Send a Message">
                        </div>
                        <h3>Whenever You Need, Just Send a Message</h3>
                        <p>
                            Share us with your ideas or send us your query, and please be patient our support team is certainly going to reach out to you. We have dedicated support team at your service for 24/7. So don’t worry.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between align-items-start">
                    <div class="col-lg-6 col-md-6 contact-left">
                        <div class="map-wrap relative">
                            <iframe  v-bind:src="map_url" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <span id="add-show" class="show-btn lnr lnr-chevron-right"></span>
                    </div>
                    <div class="col-lg-5 col-md-6 contact-right">
                        <form class="form-area contact-form" id="contactFormHome" v-on:submit.prevent="saveContactFormHome()" method="post">
                            <label>Your Name<span class="text-danger">*</span></label>
                            <input name="name" autocomplete="name" placeholder="Enter your name" v-model="contactHome.name" class="common-input mb-20 form-control" type="text">

                            <label>Email Address<span class="text-danger">*</span></label>
                            <input name="email" autocomplete="email" placeholder="Enter email address" v-model="contactHome.email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"class="common-input mb-20 form-control" required="" type="email">

                            <label>Subject<span class="text-danger">*</span></label>
                            <input name="subject" autocomplete="subject" placeholder="Enter subject" v-model="contactHome.subject" class="common-input mb-20 form-control" required="" type="text">

                            <label>Message<span class="text-danger">*</span></label>
                            <textarea class="common-textarea form-control" cols="30" rows="7" v-model="contactHome.message" name="message" placeholder="Enter Message" ></textarea>
                            <div class="">
                                <button id="submitHome" class="genric-btn2 d-block mt-30 mr-0 ml-auto"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Send Message</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <!-- End contact section -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Slider from './includes/slider';
    import Animation from './includes/animation';
    import HireUs from './includes/hire-us';
    import Swal from 'sweetalert2'

    export default {
        title: 'Home',

        components: {
            Slider,
            Animation,
            HireUs,
            Loading
        },

        data: function () {
            return {
                setting: [],
                map_url: '',
                technologies: [],
                clients: [],
                services: [],
                testimonials: [],
                partners: [],
                contactHome: {
                    name: '',
                    email: '',
                    subject: '',
                    message: '',
                },
                isLoading: false,
                fullPage: true,
            }
        },
        mounted() {
            let _this = this;
            this.getSetting();
            this.getTechnology();
            this.getClients();
            // this.getShowCase();
            this.getServices();
            this.getTestimonials();
            _this.pageScript();
            setTimeout(function(){
                _this.reviewScript();
            }, 2000);
            this.isLoading = true;

        },

        methods: {
            getSetting(){
                var _this = this;
                axios.get('/get-setting')
                    .then(function (resp) {
                        // _this.setting = resp.data
                        _this.map_url = resp.data.map_url
                    })
            },

            getTechnology(){
                var _this = this;
                axios.get('/get-technology')
                    .then(function (resp) {
                        if (resp.data){
                            _this.isLoading = false
                        }
                        _this.technologies = resp.data
                    })
            },

            getClients(){
                var _this = this;
                axios.get('/get-clients')
                    .then(function (resp) {
                        _this.clients = resp.data
                    })
            },

            getServices(page){
                var _this = this;
                axios.get('/get-services')
                    .then(function (resp) {
                        _this.services = resp.data
                    })
            },

            getShowCase(){
                var _this = this;
                axios.get('/get-portfolios-showcase')
                    .then(function (resp) {
                        _this.showcasees = resp.data.data
                    })
            },

            getTestimonials(){
                var _this = this;
                axios.get('/get-testimonials')
                    .then(function (resp) {
                        _this.testimonials = resp.data
                    })
            },


            saveContactFormHome() {
                var _this = this;
                var newContactHome = _this.contactHome;
                var button_loader='<i class="fas fa-spinner fa-spin"></i> Sending Message...';
                $("#submitHome").html(button_loader);
                axios.post('/contact-store', newContactHome)
                    .then(function (resp) {
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                        }else {
                            $("#contactFormHome")[0].reset();
                            $("#submitHome").html('Send message');
                            Swal.fire({
                                // position: 'center',
                                type: 'success',
                                title: resp.data.success,
                                showConfirmButton: false,
                                timer: 3000
                            })

                        }
                    })
                    .catch(function (resp) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    });
            },

            pageScript(){
                $(document).ready(function() {
                    $(this).scrollTop(0);

                    $('.active-dash-carusel').owlCarousel({
                        items: 1,
                        loop: true,
                        margin: 30,
                        autoplay: true,
                        autoplayTimeout: 4000,
                        autoplayHoverPause: true,
                        smartSpeed: 800,
                        animateOut: 'fadeOut'
                    });


                    $(document).on('click', '#add-hide', function (e) {
                        $(".contact-info").css("display", "none");
                        $(".show-btn").css("display", "block");
                    });

                    $(document).on('click', '#add-show', function (e) {
                        $(".contact-info").css("display", "block");
                        $(".show-btn").css("display", "none");
                    });

                });
            },

            reviewScript(){
                $(document).ready(function() {
                    $('.active-review-carusel').owlCarousel({
                        items: 3,
                        loop: true,
                        autoplay: true,
                        autoplayTimeout: 4000,
                        autoplayHoverPause: true,
                        smartSpeed: 800,
                        dots: true,
                        responsive: {
                            0: {
                                items: 1,
                            },
                            768: {
                                items: 2,
                            },
                            992: {
                                items: 3,
                            }
                        }
                    });

                    $('.active-review-carusel2').owlCarousel({
                        items: 1,
                        loop: true,
                        margin: 30,
                        // autoplay: true,
                        autoplayTimeout: 4000,
                        autoplayHoverPause: true,
                        smartSpeed: 800,
                    });

                });
            }
        }
    }
</script>
<style scoped>
    .home-title{
        font-family: cursive!important;
    }
</style>
