<template>
    <div>
        <!-- Start page-top section -->
        <!-- Portfolio Details -->
        <section class="bl-panel-items aquablue-bg" id="bl-panel-work-items" style="padding: 80px!important;">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <div class="project-thumb">
                            <img :src="portfolio.image" :alt="portfolioObj.title" />
                        </div>
                        <p class="mt-30" v-html="portfolioObj.description"></p>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <div class="project-desc">
                            <h2 class="border-bottom">Project Title - {{ portfolioObj.title }} </h2>

                            <ul class="mt-30">
                                <li><b>Skills: </b>{{ portfolioObj.skills }}</li>
                                <li><b>Client: </b>{{ portfolioObj.client_name }}</li>
                                <li><b>Date: </b>{{ portfolio.date }}</li>
                                <li><b>Category: </b><a href="#">{{ portfolio.category_title }}</a></li>
                                <li><b>Project Url: </b><a v-bind:href="portfolioObj.url" target="_blank" >{{ portfolioObj.url }}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!-- End Portfolio Details -->


        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'Portfolio | Details',
        data: function () {
            return {
                portfolioSlug: null,
                portfolio: [],
                portfolioObj: [],
                isLoading: false,
                fullPage: true
            }
        },

        components:{
            Loading
        },

        mounted() {
            this.isLoading = true;
            this.getPortfolio();
        },

        methods: {
            getPortfolio(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.portfolioSlug = slug;
                axios.get('/get-portfolio-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.portfolio = resp.data;
                        _this.portfolioObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            }
        }
    }
</script>
