
<template>
    <div>
        <!-- Start unique-feature Area -->

        <section class="stat-section section-gap background-item-1">
            <div class="container">
                <div class="row justify-content-center section-title-wrap">
                    <div class="col-lg-12">
                        <div class="title-img">
                            <img :src="'/assets/img/title-icon.png'" alt="Mediusware Service">
                        </div>
                        <h1 class="text-white">Mediusware <span class="text-info">Service</span></h1><br>
                        <p class="text-white">Have a look, what we provide our clients!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="stat-section section-gap aquablue-bg">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-4 col-sm-6" v-for="service in services">
                        <div class="card m-1" style="border: none;">
                            <div class="card-body p-5">
                            <div class="single-stat">
                                <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}">
                                    <div class="icon">
                                        <i v-bind:class="service.icon"></i>
                                    </div>
                                </router-link>
                                <div class="desc  mb-4">
                                    <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}">
                                        <h4 class="text-limit-1">{{ service.title }}</h4>
                                    </router-link>
                                    <p class="text-justify text-limit3 mt-50">
                                        {{ service.short_description }}
                                    </p>
                                </div>
                                <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}" class="btn btn-sm btn-primary btn-block mt-50">Exlpore</router-link>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End unique-feature Area -->

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>


<!--        <div class="service-item">-->
<!--            <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}">-->
<!--                <i v-bind:class="service.icon"></i>-->
<!--                <h3 class="text-limit-2">{{ service.title }}</h3>-->
<!--            </router-link>-->
<!--            <p class="text-justify text-limit3">{{ service.short_description }}</p>-->
<!--            <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}" class="ron-btn">Exlpore</router-link>-->
<!--        </div>-->


<!--        <div class="card-body d-flex flex-column">-->
<!--            <div class="mb-2">-->
<!--                <i v-bind:class="service.icon" style="font-size: 30px"></i>-->
<!--            </div>-->
<!--            <div class="mb-2">-->
<!--                <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}" class="font-24"> {{ service.title }}</router-link>-->
<!--            </div>-->
<!--            <div class="mb-2">-->
<!--                <p>-->
<!--                    {{ service.short_description }}-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="mb-2">-->
<!--                <router-link :to="{name: 'serviceDetails', params: {slug: service.slug}}" class="ron-btn"> Explore </router-link>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</template>


<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'Services',
        components: {
            Loading
        },

        data: function () {
            return {
                services: [],
                isLoading: false,
                fullPage: true
            }
        },

        mounted() {
            this.isLoading = true;
            this.getServices();
            this.pageScript();
        },
        methods: {
            pageScript(){
                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 190) {
                        $(".clearClass").addClass("service-image");
                    } else {
                        $(".clearClass").removeClass("service-image");
                    }
                });
            },
            getServices(page){
                var _this = this;
                axios.get('/get-services')
                    .then(function (resp) {
                        // console.log(resp.data)
                        if (resp.data){
                            _this.isLoading = false
                        }
                        _this.services = resp.data
                    })
            },

        }
    }
</script>
<style scoped>
    @media (max-width: 767px) {
        .p-5{
            padding: 1rem !important;
        }
    }
</style>
