<template>
    <div>

        <section class="stat-section section-gap portfolio-section" v-bind:style="{ backgroundImage:  'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(' + service.image + ')' }">
            <div class="container">
                <div class="row section-title-wrap mt-30">
                    <div class="col-lg-12">
                        <div id="content-wrapper">
                            <!-- PAGE CONTENT -->
                            <div class="container">
                                <div class="well">
                                    <h4 class="mt-30 mb-30">{{ service.date }}</h4>
                                    <h1 class="mb-20">{{ serviceObj.title }}</h1>
                                    <h4 class="mb-20">{{ serviceObj.short_description }}</h4>

                                    <button id="myButton" class="pot-btn active">
                                        EXPLORE <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </div><!-- End Well -->
                            </div><!-- End Container -->
                            <!-- PAGE CONTENT -->
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-post section-gap" id="myDiv">
            <div class="details-body">
                <div class="container">
                    <div class="row text-justify mt-30">

                        <div class="col-md-6">
                            <div class="desc">
                                <p class="mb-0 portfolio-text text-justify font-24" v-html="serviceObj.description_left"></p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="desc">
                                <p class="mb-0 portfolio-text text-justify font-24" v-html="serviceObj.description_right"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-post section-gap portfolio-bg">
            <div class="details-body">
                <div class="container">
                    <div class="row text-justify mt-30">
                        <div class="col-md-12 mb-100">
                            <div class="desc">

                                <div class=" portfolio-text text-justify">
                                    <ul class="portfilio-feature-list">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="desc text-center">
                                                    <p>WHAT WE CAN DO</p>
                                                    <h1 style="margin-top: -10px;" class="portfolio-title1 mb-10">Offered Services</h1>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <li v-for="offered in serviceObj.get_service_offered"><i class="fa fa-chevron-right"></i> {{ offered.offered_services_title }}</li>
                                            </div>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="brands-section background-color1 pb-60 pt-70">
            <div class="container">
                <div class="row justify-content-center brand-wrap" style="margin-top: -60px;">
                    <div class="col-md-12 text-center">
                        <h1 class="portfolio-title1">Technologies</h1>
                    </div>

                    <div class="col-md-2 col-3 mt-50 text-center" v-for="technology in serviceObj.get_technologies">
                        <a href="#">
                            <img class="img-fluid" :src="'/media/technology/'+technology.technology.image" :alt="technology.technology.title" width="100">
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-post section-gap">
            <div class="details-body">
                <div style="width: 99%">
                    <div class="row text-justify mt-30">
                        <div class="col-md-12 mb-100">
                            <div class="desc">
                                <div class=" portfolio-text text-justify">
                                    <ul class="portfilio-feature-list">
                                        <div class="row align-items-center">
                                            <div class="col-md-4">
                                                <div class="desc text-center">
                                                    <p>CLIENTS WE HAVE SERVED IN</p>
                                                    <h1 style="margin-top: -10px;" class="portfolio-title1 mb-10">Industries</h1>
                                                </div>
                                            </div>
                                            <div class="col-md-4 industry-list">
                                                <li v-for=" industires in serviceObj.get_service_industries"><i class="fa fa-check"></i> {{ industires.services_industries_title }}</li>
                                            </div>

                                            <div class="col-md-4">
                                                <img class="img-fluid img-thumbnail portfolio-img" alt="CLIENTS WE HAVE SERVED IN" :src="service.industries_image">
                                            </div>
                                        </div>

                                    </ul>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>


            <div class="back-button" >
                <router-link class="btn third"  :to = "'/services'">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"> Back To Service</i>
                </router-link>
            </div>
        </section>




        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import HireUs from "./includes/hire-us";

    export default {
        title: 'service | Details',
        data: function () {
            return {
                serviceSlug: null,
                service: [],
                serviceObj: [],
                isLoading: false,
                fullPage: true,
                technologies: [],
                clients: [],
            }
        },

        components:{
            HireUs,
            Loading
        },

        mounted() {
            this.isLoading = true;
            this.getService();
            this.getTechnology();
            this.pageScript();
            this.getClients();
        },

        methods: {
            getService(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.serviceSlug = slug;
                axios.get('/get-service-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.service = resp.data;
                        _this.serviceObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            },

            getTechnology(){
                var _this = this;
                axios.get('/get-technology')
                    .then(function (resp) {
                        _this.technologies = resp.data
                    })
            },

            getClients(){
                var _this = this;
                axios.get('/get-clients')
                    .then(function (resp) {
                        _this.clients = resp.data
                    })
            },

            pageScript(){
                $(document).ready(function() {
                    $(this).scrollTop(0);
                });

                $(document).ready(function() {
                    $("#myButton").click(function() {
                        $('html, body').animate({
                            scrollTop: $("#myDiv").offset().top
                        }, 1000);
                    });
                })
            }
        }
    }
</script>

