<template>
    <div>

        <div class="container-fluid" id="project-details-page">

            <section id="overview">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column">
                                        <div class="header-title mb-3">
                                            <h3 style="text-transform: uppercase"> featured for 2019 </h3>
                                        </div>
                                        <div class="header-body mb-3">
                                            <h1> Banking and financial & solution </h1>
                                        </div>
                                        <div class="short-descetiopn mb-3">
                                            <h6 style="text-transform: uppercase">Customized software solutions tailored for your unique banking & financial business needs.</h6>
                                        </div>
                                        <div class="mb-4">
                                            <button class="btn btn-lg btn-outline-success">Explore</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="details">

                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-md-6 p-5">
                                    <h4 class="text-justify" style="font-family: 'Merriweather', serif;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                        Ipsum passages, and more recently with desktop publishing
                                    </h4>
                                </div>
                                <div class="col-md-6 p-5">
                                    <h4 class="text-justify" style="font-family: 'Merriweather', serif;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                        Ipsum passages, and more recently with desktop publishing
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <section class="details">
                <div class="card card-body h-100 justify-content-center" style="background-color: #F9F9F9;">
                    <div class="row no-gutters">
                        <div class="col-md-5 ">
                            <div class="details-img-container h-100 d-flex  justify-content-center align-items-center text-right">
                                <div>
                                    <p class="text-center text-uppercase">What we can do</p>
                                    <h1>Offered  <br> Services</h1>
                                    <div style="width: 50%; height:2px; background-color:blue;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 divider-class">
                            <img :src="'/assets/pro-img/line-divider.png'"  style="height: 80%" alt="Offered Services">
                        </div>
                        <div class="col-md-5">
                            <ul class="list-group">
                                <li class="list-group-item details-list-item">Lorem ipsum dolor, sit amet consectetur</li>
                                <li class="list-group-item details-list-item">adipisicing elit. Vitae, dolore iusto quos </li>
                                <li class="list-group-item details-list-item">cupiditate, similique commodi aut dolorum</li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                                <li class="list-group-item details-list-item">rem eaque totam incidunt et excepturi </li>
                            </ul>

                        </div>


                    </div>
                </div>

            </section>
            <div class="d-flex flex-column client-section">
                <section id="technology" class="mb-5">
                    <div class="card card-body">
                        <div class="section-header">
                            <h4 class="text-center">Techonology we use</h4>
                            <div style="width: 7%; height:2px; background-color:blue; margin:auto"></div>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center ">
                            <ul class="d-flex flex-row" style="list-style: none">
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/laravel.png'" alt="laravel"></a> <span>laravel</span> </li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/mongodb.png'" alt="MongoDB"> </a><span>MongoDB</span></li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/mysql.png'" alt="MySql"> </a><span>MySql</span></li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/technology/php.png'" alt="PHP"> </a><span>PHP</span></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="served-client mb-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="details-img-container h-100 d-flex  justify-content-center align-items-center text-right">
                                        <div>
                                            <p class="text-center text-uppercase">Clients we have served in</p>
                                            <h1>Industries</h1>
                                            <div style="width: 50%; height:2px; background-color:blue;"></div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <ul class="list-group">
                                        <li class="list-group-item details-list-item">Lorem ipsum dolor, sit amet consectetur</li>
                                        <li class="list-group-item details-list-item">adipisicing elit. Vitae, dolore iusto quos </li>
                                        <li class="list-group-item details-list-item">cupiditate, similique commodi aut dolorum</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://picsum.photos/id/970/600/250" alt="Industries">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="clients" class="mb-5">
                    <div class="card card-body">
                        <div class="section-header">
                            <h4 class="text-center">Clients we have worked with</h4>
                            <div style="width: 7%; height:2px; background-color:blue; margin:auto"></div>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center ">
                            <ul class="d-flex flex-row" style="list-style: none">
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/brand/amazon.png'" alt="Amazon"></a> <span>Amazon</span> </li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/brand/apple.png'" alt="Apple"> </a><span>Apple</span></li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/brand/coca-cola.png'" alt="Coca cola"> </a><span>Coca cola</span></li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/brand/ibm.png'" alt="IBM"> </a><span>IBM</span></li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/brand/oracle.png'" alt="ORSCLE"> </a><span>ORSCLE</span></li>
                                <li class="m-5"><a href="" class="d-block"> <img :src="'/assets/pro-img/brand/uber.png'" alt="UBER"> </a><span>UBER</span></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>





        </div>

        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage"></loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        title: 'service | Details',
        data: function () {
            return {
                serviceSlug: null,
                service: [],
                serviceObj: [],
                isLoading: false,
                fullPage: true
            }
        },

        components:{
            Loading
        },

        mounted() {
            this.isLoading = true;
            this.getService();
        },

        methods: {
            getService(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.serviceSlug = slug;
                axios.get('/get-service-details/' + slug)
                    .then(function (resp) {
                        // console.log(resp.data.obj)
                        _this.service = resp.data;
                        _this.serviceObj = resp.data.obj;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Literata&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

    #overview{
        width: 100%;
        height: 80vh;
        background: url('../img/bg1.jpg');
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        margin-bottom: 10px;

    }
    #overview .card{
        background-color: #ffffffed;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(10, 2, 2, 0.849);
    }
    .overlay-details{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(251, 247, 247, 0.63);
    }
    .details{
        width: 100%;
        margin-bottom: 10px;

    }

    .details p span h1 h2 h3 h4 h5 h6 {
        font-family: 'Literata', serif !important;
    }
    #overview  .short-description p{
        font-family: 'Crimson Text', serif;
        font-size: 26px;
        font-weight: 200;
        word-spacing: 1.5pc;
        letter-spacing: 2px;
    }

    .carosule-container{
        width: 500px;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }


    .divider-class{
        height: 100%;
    }

    ul.list-group .details-list-item{
        border: none;
        position: relative;
        background-color: transparent;
        font-size: 26px;
        letter-spacing: 1px;
    }
    ul.list-group  .details-list-item::before{
        position: absolute;
        content: "";
        background-image: url('../img/icon/right-arrow.png');
        background-size: 20px 20px;
        left: -2px;
        top: 19px;
        width: 20px;
        height: 20px;
    }

    #technology{

        margin-bottom: 10px;
    }
    #project-details-page .card{
        border: none;
    }
    .client-section{
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    .container-fluid{
        margin-right: 0!important;
        margin-left: 0!important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden;
    }
</style>
