<template>
    <div>
        <!-- Start unique-feature Area -->
        <section class="client-review-section section-gap">
            <div class="container">
                <div class="single-team-warp">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info-single-team">
                                <div class="personal-avatar">
                                    <img v-if="teamObj.avatar" :src="team.image" class="img-responsive" v-bind:alt="teamObj.name">
                                    <img v-else="" :src="'/media/user.jpg'" class="img-responsive">
                                </div>
                                <h3 class="personal-title text-info">PERSONAL INFORMATION</h3>

                                <ul class="personal-information">
                                    <li><p><span>Name :</span> {{ teamObj.name }}</p></li>
                                    <li><p><span>Job :</span> {{ teamObj.designation }}</p></li>
                                    <li><p><span>Phone :</span> {{ teamObj.phone }}</p></li>
                                    <li><p><span>Email :</span> {{ teamObj.email }}</p></li>
                                </ul>
                                <h3 class="text-info personal-title text-uppercase">Drop Me A Line</h3>
                                <form class="form-area contact-form text-right" id="myForm" v-on:submit.prevent="saveContactForm()" method="post">
                                    <input v-model="contactMe.name" name="name" autocomplete="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                    <input v-model="contactMe.email" name="email" autocomplete="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">
                                    <input v-model="contactMe.subject" name="subject" autocomplete="subject" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
                                    <textarea v-model="contactMe.message" class="common-textarea form-control" cols="30" rows="5" name="message" autocomplete="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>
                                    <div class="d-flex flex-column">
                                        <button id="submit" class="genric-btn2 btn-block mt-30 mr-0 ml-auto"> Send Message</button>
                                    </div>
                                </form>
                                <div v-if="teamObj.facebook_link || teamObj.githtb_link || teamObj.stackoverflow_link || teamObj.linkedin_link">
                                    <h3 class="text-info personal-title text-uppercase">Follow Me On</h3>
                                    <div class="">
                                        <a v-if="teamObj.facebook_link" v-bind:href="teamObj.facebook_link" target="_blank"><i style="color: #55ACEE;" class="fab fa-facebook-square fa-3x contact-social"></i></a>
                                        <a v-if="teamObj.githtb_link" v-bind:href="teamObj.githtb_link" target="_blank"><i style="color: #2c4762;" class="fab fa-git-square fa-3x contact-social"></i></a>
                                        <a v-if="teamObj.stackoverflow_link" v-bind:href="teamObj.stackoverflow_link" target="_blank"><i style="color: #ff6600;" class="fab fa-stack-overflow fa-3x contact-social"></i></a>
                                        <a v-if="teamObj.linkedin_link" v-bind:href="teamObj.linkedin_link" target="_blank"><i style="color: #125688;" class="fab fa-linkedin fa-3x contact-social"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="about-single-team">
                                <div class="about-single-team-sum border-bottom">
                                    <h3 class="text-info personal-title text-uppercase">ABOUT {{ teamObj.name }}</h3>
                                    <p>Hello, I'm <span class="text-info">{{ teamObj.name }}</span></p>
                                    <p class="text-justify" v-html="teamObj.about"></p>
                                </div>

                                <div class="about-single-team-sum mt-30" v-if="teamObj.skills.length !== 0">
                                    <h3 class="text-info personal-title text-uppercase">Skills</h3>
                                    <div v-for="skill in teamObj.skills">
                                        <span>{{ skill.skills_name }}</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" v-bind:aria-valuenow="skill.skills_percentage" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: skill.skills_percentage + '%'}">{{skill.skills_percentage}}% </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="back-button" >
                <router-link class="btn third"  :to = "'/about'">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"> Back To About</i>
                </router-link>
            </div>
        </section>

        <!-- End unique-feature Area -->
        <div class="vld-parent">
            <loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="fullPage">
            </loading>
        </div>

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Swal from 'sweetalert2'
    export default {
        title: 'Teams | Details',
        // title: (context) => `${context.teamObj.name}`,
        components: {
            Loading
        },

        data: function () {
            return {
                team: [],
                teamSlug: null,
                teamObj: [],
                isLoading: false,
                fullPage: true,
                contactMe: {
                    name: '',
                    email: '',
                    subject: '',
                    message: '',
                    teamName: '',
                    teamEmail: '',
                },
            }
        },

        mounted() {
            this.getTeam()
            this.isLoading = true;
        },

        methods: {
            getTeam(){
                let _this = this;
                let slug = _this.$route.params.slug;
                _this.teamSlug = slug;
                axios.get('/get-team-details/' + slug)
                    .then(function (resp) {
                        console.log(resp.data)
                        _this.team = resp.data;
                        _this.teamObj = resp.data.obj;
                        _this.contactMe.teamName = resp.data.obj.name;
                        _this.contactMe.teamEmail = resp.data.obj.email;
                        if (resp.data){
                            _this.isLoading = false
                        }
                    })
                    .catch(function () {
                        alert("Could not load your data")
                    });
            },

            saveContactForm() {
                var _this = this;
                var newContact = _this.contactMe;
                var button_loader='<i class="fas fa-spinner fa-spin"></i> Sending Message...';
                $("#submit").html(button_loader);
                axios.post('/team-contact-store', newContact)
                    .then(function (resp) {
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                        }else {
                            $("#myForm")[0].reset();
                            $("#submit").html('Send message');
                            Swal.fire({
                                // position: 'center',
                                type: 'success',
                                title: resp.data.success,
                                showConfirmButton: false,
                                timer: 3000
                            })

                        }
                    })
                    .catch(function (resp) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    });
            }
        }


    }
</script>
